body {
  width: 100%;
}

.animauxgrid {
  max-width: 90%;
  height: auto;
  margin: 1rem auto;
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-gap: 10px;
  grid-auto-columns: minmax(11rem, auto);
  box-sizing: border-box; 
  color: black;
}

.animauxgrid > div {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.animauxgrid > div:nth-child(odd) {
  background-color: white;
}

.animauxgrid > div:nth-child(even) {
  background-color: #EDEDED;
}

.animauxgrid img {
  width: 10rem;
  height: 10rem;
  display: block;
  object-fit: fill;
  border: 3px solid rgb(0, 0, 0);
}

.koala {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.quokka {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.wombat {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.taz {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.kangorou {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}

* {
  box-sizing: border-box;
}

/* Media Queries */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .animauxgrid {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
  }

  .animauxgrid img {
    width: 8rem;
    height: 8rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .animauxgrid {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr;
  }

  .animauxgrid img {
    width: 7rem;
    height: 7rem;
  }

  .animauxgrid > div {
    align-items: center;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .animauxgrid {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }

  .animauxgrid > div {
    padding: 0.5em;
  }
}

@media only screen and (max-width: 600px) {
  .animal {
    display: flex;
    justify-content: center;
  }

  .animauxgrid img {
    width: 5rem;
    height: 5rem;
  }
  .animauxgrid > div {
    padding: 0.25em;
  }
}
